* {
	margin: 0;
}

html {
	height: 100%;
}

.navbar {
  background: #3C0000;
}

body {
	background-color: #fdfdfd;
	height: 100%;
	font-family: 'Trebuchet MS, sans-serif;
	font-size: 50px;
}

img {
 	max-width: 100%;
}

.flex-wrapper {
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
	justify-content: space-between;
	padding-top: 70px;
}

#green-terminal {
	color: f6f6f6;
}

.font-header {
	font-family: 'Trebuchet MS, sans-serif;
}

.font-paragraph {
	font-family: 'Trebuchet MS, sans-serif;
}

nav {
	font-size: 1em;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.dropdown-menu li {}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Trebuchet MS, sans-serif;
}

#user-name {
	font-size: 5em;
	text-transform: uppercase;
}

.user-description {
	border-style: solid;
	border-width: 5px;
	border-color: #292929;
	margin-top: 20px;
	margin-bottom: 1em;
	padding: 15px;
	font-size: initial;
}

.user-profile {
	padding: 0;
}

.user-picture {
	border-style: solid;
	border-width: 5px;
	border-color: #292929;
	margin-top: 20px;
}

i {
	margin: 10px 20px 10px 20px;
	color: #333;
}

.post-link {
	float: left;
}

.post-date {
	float: right;
}

.post-header {
	background-color: #F5F5F5;
	overflow: hidden;
	padding: 0 5px 0 5px;
}

.post-summary, .post-content {
	clear: both;
}

.post-summary {
	padding: 0 5px 0 5px;
	font-size: initial;
}

.post-list-footer {
	padding-bottom: 0px;
}

#post-list {
	list-style: none;
	padding-left: 0;
}

.post-list-item {
	margin-top: 20px;
	border-style: solid;
	border-width: 0 0 3px 0;
	border-color: #292929;
}

.post-comments {
	padding-top: 10px;
	border-top-style: solid;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto;
}

.footer {
	background-color: #F5F5F5;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0px;
}

.footer p, .footer a {
  margin: 0;
  white-space: nowrap;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

div p {
	text-align: justify;
}

td {
	margin: 0 20px;
}

/* Font-size tweaks for smaller screens */
@media screen and (max-width: 480px) {
	.user-social {
		font-size: 50%;
	}

	#user-name {
		font-size: 2em;
	}

	nav {
		font-size: 80%;
	}

	.dropdown-menu li {
		font-size: 80%;
	}
}

@media screen and (max-width: 320px) {
	.user-social {
		font-size: 40%;
	}

	#user-name {
		font-size: 2em;
	}

	nav {
		font-size: 80%;
	}

	.dropdown-menu li {
		font-size: 80%;
	}
}

/* ---------------------------------------------------------
   CUSTOM FIXES FOR ABOUT PAGE ON MOBILE
   --------------------------------------------------------- */

@media (max-width: 600px) {

  /* Force the layout order: image → text → social links */
  .about-contents {
    display: flex !important;
    flex-direction: column !important;
  }

  .about-image {
    order: 1 !important;
  }

  .about-body {
    order: 2 !important;
  }

  .about-links {
    order: 3 !important;
    margin-top: 1rem !important;
    text-align: center !important;
  }

  /* Shrink the social buttons */
  .about-links a {
    padding: 4px 8px !important;
    font-size: 0.7em !important;
    line-height: 1.1 !important;
  }

  /* Shrink the icons */
  .about-links i {
    margin: 0 6px !important;
    font-size: 0.9em !important;
  }
}